<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= css %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Anonymous Bot - Commands</title>
</head>
  <body>

      <div class="mobile">
        <div class="topnav">
          <div class="glitchLogo"><a class="logo" href="/"><h1 class="active">ANONYMOUS BOT</h1></a></div>

          <div class="menuBtn">
            <div class="menuBtn_burger">
            </div>
          </div>
          
          <h3>COMMANDS PAGE</h3>

          <div class="links push">
            <a href="/">HOME</a>
            <a href="information">INFORMATION</a>
            <a href="commands">COMMANDS</a>
            <a href="download">DOWNLOAD</a>
            <a href="suggest">SUGGEST</a>
            <a href="demo">DEMO</a>
          </div>

          <div class="divOne">
            <h2 class="listTitle">LIST OF COMMANDS</h2><br>
            <div class="listOfCommands">
              <ul class="commands">
                <li><span class="eachCommand">/help</span> - Display link to the list of commands.</li>
                <li><span class="eachCommand">/clear</span> - Deletes a specified amount of messages from the current channel.</li>
                <li><span class="eachCommand">/giverole</span> - Gives a user a specified role.</li>
                <li><span class="eachCommand">/removerole</span> - Removes a specified role from a user.</li>
                <li><span class="eachCommand">/join</span> - Have Anonymous Bot join a voice channel.</li>
                <li><span class="eachCommand">/disconnect</span> - Have Anonymous Bot disconnect from the voice channel.</li>
                <li><span class="eachCommand">/botinfo</span> - Displays an message that briefly describes the bot.</li>
                <li><span class="eachCommand">/speak</span> - Have Anonymous Bot play a specified sound.</li>
              </ul>
            </div>
          </div>
          
        </div>
    
      </div> <!-- end of mobile div-->


    <script>
      const menuBtn = document.querySelector('.menuBtn');
      let menuOpen = false;
      const links = document.querySelector('.links');
      menuBtn.addEventListener('click', () => {
        if(!menuOpen) {
          menuBtn.classList.add('open');
          links.classList.add('open');
          menuOpen = true;

        } else {
          menuBtn.classList.remove('open');
          links.classList.remove('open');
          menuOpen = false;
        }
      });
    </script>


      <div class="desktop">
        <div class="row">

          <div class="columnOne">
            <div class="desktopNav">
              <img src="/images/moon.png" id="icon">
              <h3 class="navTitle">NAVIGATION</h3>
              <a class="home" href="/"><li>HOME</li></a>
              <a class="information" href="/information"><li>INFORMATION</li></a>
              <a class="commands" href="/commands"><li>COMMANDS</li></a>
              <a class="download" href="/download"><li class="glitchEffect">DOWNLOAD</li></a>
              <a class="suggest" href="/suggest"><li>SUGGEST</li></a>
              <a class="demo" href="/demo"><li>DEMO</li></a>
            </div>
          </div>

          <div class="columnTwo"> 
            <div class="glitchLogo"><a class="logo" href="/"><h1>ANONYMOUS BOT</h1></a></div>
            <h3>COMMANDS PAGE</h3>

            <div class="commandsList">
              <h2 id="listTitle">LIST OF COMMANDS</h2><br>
              <div>
                <ul>
                  <li><span class="eachCommand">/help</span> - Display link to the list of commands.</li>
                  <li><span class="eachCommand">/clear</span> - Deletes a specified amount of messages from the current channel.</li>
                  <li><span class="eachCommand">/giverole</span> - Gives a user a specified role.</li>
                  <li><span class="eachCommand">/removerole</span> - Removes a specified role from a user.</li>
                  <li><span class="eachCommand">/join</span> - Have Anonymous Bot join a voice channel.</li>
                  <li><span class="eachCommand">/disconnect</span> - Have Anonymous Bot disconnect from the voice channel.</li>
                  <li><span class="eachCommand">/botinfo</span> - Displays an message that briefly describes the bot.</li>
                  <li><span class="eachCommand">/speak</span> - Have Anonymous Bot play a specified sound.</li>
                  <li><span class="eachCommand">/setjoinsound</span> - Set the join sound for a specified user</li>
                </ul>
              </div>
            </div>
          </div> <!-- end of columnTwo div-->
        </div>

      </div> <!-- end of desktop nav -->

      <footer>
        <div class="footerContent">
          <h3>Anonymous Bot</h3>
          <p>
            If you want to learn more about us, visit our information page above.
          </p>
        
        <div class="footerBottom">
          <p>
            copyright &copy;2023 Anonymous Bot. designed by 
            <span>Grayson Hoff, Riley Weld, Brent Stickney, and Liefe Sutliff</span>
          </p>
        </div>

      </footer>

      <script>

        var icon = document.getElementById("icon");

        if (localStorage.getItem("theme") == null) {
          localStorage.setItem("theme", "light");
        }

        let localData = localStorage.getItem("theme");

        if (localData == "light") {
          icon.src = "images/moon.png";
          document.body.classList.remove("darkTheme");
        } else if (localData == "dark") {
          icon.src = "images/sun.png";
          document.body.classList.add("darkTheme");
        }

        icon.onclick = function() {
          document.body.classList.toggle("darkTheme");
          if (document.body.classList.contains("darkTheme")) {
            icon.src = "images/sun.png";
            localStorage.setItem("theme", "dark");
          } else {
            icon.src = "images/moon.png";
            localStorage.setItem("theme", "light");
          }
        }

      </script>

  </body>
</html>