<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="<%= css %>">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Anonymous Bot - Download</title>
</head>
  <body>


		<div class="mobile">
      <div class="topnav">
        <h1 class="active">Anonymous Bot</h1>
        <h3>DOWNLOAD PAGE</h3>
        <div id="myLinks">
          <a href="/">HOME</a>
          <a href="information">INFORMATION</a>
          <a href="commands">COMMANDS</a>
          <a href="download">DOWNLOAD</a>
          <a href="suggest">SUGGEST</a>
          <a href="more">MORE</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>


      <div class="paragraphOne">
        <h2>DOWNLOAD BELOW</h2>
        <p> 
					We invite you to download our bot and integrate it seamlessly into your own server! After clicking the provided link, you will be prompted to log in to your Discord account and select the desired server to host the bot. It is important to note that only server moderators have the authority to add the bot to a given server. Don't miss out on the opportunity to enhance your server's functionality with our top-of-the-line bot!
         </p>
      </div>

			<div class="downloadBox">
				<a class="downloadLink" href="https://discord.com/api/oauth2/authorize?client_id=1094447307166072863&permissions=0&scope=bot">
				<li>DOWNLOAD ANONYMOUS BOT</li></a>
			</div>

    </div> <!-- END OF MOBILE DIV  -->


		<script>

      function myFunction() {
        var x = document.getElementById("myLinks");
        //var y = document.getElementsById("links");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
          x.style.textAlign = "center";
          x.style.border = "2px solid black";
          x.style.backgroundColor = "#bbb";
          
        }
      } 

    </script>


		<div class="desktop">
			<div class="row">

				<div class="columnOne">
					<div class="desktopNav">
						<h3 class="navTitle">NAVIGATION</h3>
						<a class="home" href="/"><li>HOME</li></a>
						<a class="information" href="/information"><li>INFORMATION</li></a>
						<a class="commands" href="/commands"><li>COMMANDS</li></a>
						<a class="download" href="/download"><li>DOWNLOAD</li></a>
						<a class="suggest" href="/suggest"><li>SUGGEST</li></a>
						<a class="more" href="/more"><li>MORE</li></a>
					</div>
				</div> <!-- end of columnOne div -->


				<div class="columnTwo"> 
					<h1>ANONYMOUS BOT</h1>
					<h3>DOWNLOAD PAGE</h3>

					<div class="paragraphOne">
            <h2 id="paragraphTitle">DOWNLOAD BELOW</h2>
           <p>
						We invite you to download our bot and integrate it seamlessly into your own server! After clicking the provided link below, you will be prompted to log in to your Discord account and select the desired server to host the bot. It is important to note that only server moderators have the authority to add the bot to a given server. Don't miss out on the opportunity to enhance your server's functionality with our top-of-the-line bot!
           </p>
          </div>

					<div class="downloadBox">
						<a class="downloadLink" href="https://discord.com/api/oauth2/authorize?client_id=1094447307166072863&permissions=0&scope=bot">
						<li>DOWNLOAD ANONYMOUS BOT</li></a>
					</div>

				</div> <!-- end of columnTwo div-->
			
			
			
			</div>
		</div> <!-- end of desktop div -->

    <footer>
      <div class="footerContent">
        <h3>Anonymous Bot</h3>
        <p>
          If you want to learn more about us, visit our information page above.
        </p>
      
      <div class="footerBottom">
        <p>
          copyright &copy;2023 Anonymous Bot. designed by 
          <span>Grayson Hoff, Riley Weld, Brent Stickney, and Liefe Sutliff</span>
        </p>
      </div>

    </footer>
    
  </body>
</html>