<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anonymous Bot - Download</title>
</head>
  <body>

    <div class="title">
      <h1>Anonymous Bot</h1>
      <h3>Download Page</h3>
    </div>

    <div class="navigation">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/information">Information</a></li>
          <li><a href="/instructions">Instructions</a></li>
          <li><a href="/download">Download</a></li>
          <li><a href="/suggest">Suggest</a></li>
          <li><a href="/more">More</a></li>
        </ul>
      </div>

    <div class="mainBody">
        <a href="https://discord.com/api/oauth2/authorize?client_id=1094447307166072863&permissions=0&scope=bot">LINK TO INSTALL THE BOT</a>
    </div>
    
  </body>
</html>