<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anonymous Bot</title>
  <link rel="stylesheet" href="<%= css %>">
</head>
  <body>

    <div class="row">

      <div class="columnOne">
        <div class="navigation">
          <li><a href="/">HOME</a></li>
          <li><a href="/information">INFORMATION</a></li>
          <li><a href="/instructions">INSTRUCTIONS</a></li>
          <li><a href="/download">DOWNLOAD</a></li>
          <li><a href="/suggest">SUGGEST</a></li>
          <li><a href="/more">MORE</a></li>
        </div>
      </div>

      <div class="columnTwo"> 
        <h1>ANONYMOUS BOT</h1>
        <h3>HOME PAGE</h3>
        <img id="maskImage" src="<%= pic %>" alt="maskImage">
      </div>

      <div class="columnThree">

        <p>HELLO AND WELCOME TO OUR PAGE</p>
      </div>


    </div>
    
  </body>
</html>