<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anonymous Bot</title>
  <link rel="stylesheet" href="<%= css %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
  <body>

    <div class="mobile">
      
      <div class="topnav">
        <h1 class="active">Anonymous Bot</h1>
        <h3>HOME PAGE</h3>
        <div id="myLinks">
          <a href="/">HOME</a>
          <a href="information">INFORMATION</a>
          <a href="instructions">INSTRUCTIONS</a>
          <a href="download">DOWNLOAD</a>
          <a href="suggest">SUGGEST</a>
          <a href="more">MORE</a>
        </div>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
      <div class="image">
        <img id="maskImage" src="<%= pic %>" alt="maskImage">
      </div>

      <div class="paragraph">
        <p>HELLO AND WELCOME TO OUR PAGE! IF YOU HAVE FOUND YOURSELF HERE, YOU MUST BE
          SOMEWHAT INTERESTED IN OUR DISCORD BOT. YOU'RE IN THE RIGHT PLACE. FOLLOW
          THE NAVIGATION LINKS ON THE LEFT HAND SIDE TO VIEW CERTAIN ASPECTS OF THE SITE.
          IF YOU'D LIKE TO LEAVE ANY FEEDBACK, PLEASE GO TO THE SUGGESTIONS PAGE
          AND LET US KNOW!
        </p>
      </div>

    </div>

    <script>

      function myFunction() {
        var x = document.getElementById("myLinks");
        //var y = document.getElementsById("links");
        if (x.style.display === "block") {
          x.style.display = "none";
        } else {
          x.style.display = "block";
          x.style.textAlign = "center";
          x.style.border = "2px solid black";
          x.style.backgroundColor = "#bbb";
          
        }
      } 

    </script>

    <div class="desktop">
      <div class="row">

        <div class="columnOne">
          <div class="desktopNav">
            <h3 class="navTitle">NAVIGATION</h3>
            <a class="home" href="/"><li>HOME</li></a>
            <a class="information" href="/information"><li>INFORMATION</li></a>
            <a class="instructions" href="/instructions"><li>INSTRUCTIONS</li></a>
            <a class="download" href="/download"><li>DOWNLOAD</li></a>
            <a class="suggest" href="/suggest"><li>SUGGEST</li></a>
            <a class="more" href="/more"><li>MORE</li></a>
          </div>
        </div>

        <div class="columnTwo"> 
          <h1>ANONYMOUS BOT</h1>
          <h3>HOME PAGE</h3>
          <img id="maskImage" src="<%= pic %>" alt="maskImage">
        </div>
  
        <div class="columnThree">
          <div class="paragraph">
            <p>HELLO AND WELCOME TO OUR PAGE! IF YOU HAVE FOUND YOURSELF HERE, YOU MUST BE
              SOMEWHAT INTERESTED IN OUR DISCORD BOT. YOU'RE IN THE RIGHT PLACE. FOLLOW
              THE NAVIGATION LINKS ON THE LEFT HAND SIDE TO VIEW CERTAIN ASPECTS OF THE SITE.
              IF YOU'D LIKE TO LEAVE ANY FEEDBACK, PLEASE GO TO THE SUGGESTIONS PAGE
              AND LET US KNOW!
            </p>
          </div>
        </div>
      </div>
    </div>
      
  </body>