<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anonymous Bot</title>
</head>
  <body>

    <div class="title">
      <h1>Anonymous Bot</h1>
      <h3>Home Page</h3>
    </div>

    <div class="navigation">
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/information">Information</a></li>
        <li><a href="html/instructions.html">Instructions</a></li>
        <li><a href="html/download.html">Download</a></li>
        <li><a href="html/suggest.html">Suggest</a></li>
        <li><a href="html/more.html">More</a></li>
      </ul>
    </div>

    <div class="mainBody">

    </div>
    
  </body>
</html>