<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anonymous Bot</title>
  <link rel="stylesheet" href="<%= css %>">
</head>
  <body>

    <div class="row">

      <div class="columnOne">
        <div class="navigation">
          <a href="/"><li>HOME</li></a>
          <a href="/information"><li>INFORMATION</li></a>
          <a href="/instructions"><li>INSTRUCTIONS</li></a>
          <a href="/download"><li>DOWNLOAD</li></a>
          <a href="/suggest"><li>SUGGEST</li></a>
          <a href="/more"><li>MORE</li></a>
        </div>
      </div>

      <div class="columnTwo"> 
        <h1>ANONYMOUS BOT</h1>
        <h3>HOME PAGE</h3>
        <img id="maskImage" src="<%= pic %>" alt="maskImage">
      </div>

      <div class="columnThree">
        <div class="paragraph">
          <p>HELLO AND WELCOME TO OUR PAGE! IF YOU HAVE FOUND YOURSELF HERE, YOU MUST BE
            SOMEWHAT INTERESTED IN OUR DISCORD BOT. YOUR IN THE RIGHT PLACE. FOLLOW
            THE NAVIGATION LINKS ON THE LEFT HAND SIDE TO VIEW CERTAIN ASPECTS OF THE SITE.
            IF YOU'D LIKE TO LEAVE ANY FEEDBACK, PLEASE GO TO THE SUGGESTIONS PAGE
            AND LET US KNOW!
          </p>
        </div>
      </div>


    </div>
    
  </body>
</html>