<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Anonymous Bot - Information</title>
  <link rel="stylesheet" href="/css/css.css">
</head>
  <body>

    <div class="row">


      <div class="columnOne">
        <div class="navigation">
          <a class="home" href="/"><li>HOME</li></a>
          <a class="information" href="/information"><li>INFORMATION</li></a>
          <a class="instructions" href="/instructions"><li>INSTRUCTIONS</li></a>
          <a class="download" href="/download"><li>DOWNLOAD</li></a>
          <a class="suggest" href="/suggest"><li>SUGGEST</li></a>
          <a class="more" href="/more"><li>MORE</li></a>
        </div>
      </div>

      <div class="columnTwo"> 
        <h1>ANONYMOUS BOT</h1>
        <h3>INFORMATION PAGE</h3>
        <img id="maskImage" src="/images/mask.png" alt="maskImage">
      </div>



      <div class="columnThree">
        <div class="paragraph">
          <p>THIS PROJECT IS MADE BY RILEY WELD, BRENT STICKNEY, LIEFE SUTLIFF, AND GRAYSON HOFF. THE PROJECT IS A DISCORD BOT THAT HAS A LIST OF COMMANDS AND YOU WILL BE ABLE TO CHAT WITH IT. IF YOU GO TO THE INSTRUCTIONS PAGE, YOU CAN GET A LIST OF ALL THE COMMANDS AND WHAT THEY DO. IF YOU WANT TO TRY THE BOT FOR YOURSELF, YOU CAN GO TO THE DOWNLOAD PAGE AND PROCEED TO DOWNLOAD.
          </p>
        </div>
      </div>


    </div>
    
  </body>
</html>