<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="<%= css %>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Anonymous Bot - Suggest</title>
</head>
  <body>

    <div class="mobile">
      <div class="topnav">
        <div class="glitchLogo"><a class="logo" href="/"><h1 class="active">ANONYMOUS BOT</h1></a></div>

        <div class="menuBtn">
          <div class="menuBtn_burger">
          </div>
        </div>

        <h3>SUGGEST PAGE</h3>

        <div class="links push">
          <a href="/">HOME</a>
          <a href="information">INFORMATION</a>
          <a href="commands">COMMANDS</a>
          <a href="download">DOWNLOAD</a>
          <a href="suggest">SUGGEST</a>
          <a href="more">DEMO</a>
        </div>

        <div class="mobileSuggestP">
          <p>Welcome to the suggestions page. Here you can send 
                us emails with any suggestions about the bot or website. 
                Emails will be send to our personal Anonymous Bot email and 
                we will get back to you as soon as we can. Thank you for your 
                suggestions!
          </p>
        </div>
  
        <div class="mobileSuggest">
            <div class="suggestForm">
              <form method="post">
                <h4>NAME</h4>
                <input type="text" id="name" autocomplete="off"><br>
                <h4>EMAIL</h4>
                <input type="email" id="email" autocomplete="off"><br>
                <h4>SUBJECT</h4>
                <input type="text" id="subject" autocomplete="off"><br>
                <h4>MESSAGE</h4>
                <textarea id="message" cols="30" rows="10"></textarea><br>
                <button id="btn" class="buttons">SEND</button>
                <button id="clr" class="buttons">CLEAR</button>
              </form>
            </div>
        </div>

      </div>
      
      <!-- <div class="mobileSuggestP">
        <p>Welcome to the suggestions page. Here you can send 
              us emails with any suggestions about the bot or website. 
              Emails will be send to our personal Anonymous Bot email and 
              we will get back to you as soon as we can. Thank you for your 
              suggestions!
        </p>
      </div>

      <div class="mobileSuggest">
          <div class="suggestForm">
            <form method="post">
              <h4>NAME</h4>
              <input type="text" id="name" autocomplete="off"><br>
              <h4>EMAIL</h4>
              <input type="email" id="email" autocomplete="off"><br>
              <h4>SUBJECT</h4>
              <input type="text" id="subject" autocomplete="off"><br>
              <h4>MESSAGE</h4>
              <textarea id="message" cols="30" rows="10"></textarea><br>
              <button id="btn" class="buttons">SEND</button>
              <button id="clr" class="buttons">CLEAR</button>
            </form>
          </div>
      </div> -->

    </div>

    <script>
      const menuBtn = document.querySelector('.menuBtn');
      let menuOpen = false;
      const links = document.querySelector('.links');
      menuBtn.addEventListener('click', () => {
        if(!menuOpen) {
          menuBtn.classList.add('open');
          links.classList.add('open');
          menuOpen = true;

        } else {
          menuBtn.classList.remove('open');
          links.classList.remove('open');
          menuOpen = false;
        }
      });
    </script>

    <div class="desktop">
      <div class="row">

        <div class="columnOne">
          <div class="desktopNav">
            <h3 class="navTitle">NAVIGATION</h3>
            <a class="home" href="/"><li>HOME</li></a>
            <a class="information" href="information"><li>INFORMATION</li></a>
            <a class="commands" href="commands"><li>COMMANDS</li></a>
            <a class="download" href="download"><li class="glitchEffect">DOWNLOAD</li></a>
            <a class="suggest" href="suggest"><li>SUGGEST</li></a>
            <a class="more" href="demo"><li>DEMO</li></a>
          </div>
        </div>
  
        <div class="columnTwo"> 
          <div class="glitchLogo"><a class="logo" href="/"><h1>ANONYMOUS BOT</h1></a></div>
          <h3>SUGGESTIONS PAGE</h3>
          <div class="suggestForm">
            <form method="post">
              <h4>NAME</h4>
              <input type="text" id="nameInput" autocomplete="off"><br>
              <h4>EMAIL</h4>
              <input type="email" id="emailInput" autocomplete="off"><br>
              <h4>SUBJECT</h4>
              <input type="text" id="subjectInput" autocomplete="off"><br>
              <h4>MESSAGE</h4>
              <textarea id="messageText" cols="30" rows="10"></textarea><br>
              <button id="button" class="buttons">SEND</button>
              <button id="clear" class="buttons">CLEAR</button>
            </form>
          </div>
        </div>
  
        <div class="columnThree">
          <div class="suggestionsP">
            <p>Welcome to the suggestions page. Here you can send 
              us emails with any suggestions about the bot or website. 
              Emails will be send to our personal Anonymous Bot email and 
              we will get back to you as soon as we can. Thank you for your 
              suggestions!
            </p>
          </div>
        </div>
      </div>
    </div>

    <footer>
      <div class="footerContent">
        <h3>Anonymous Bot</h3>
        <p>
          If you want to learn more about us, visit our information page above.
        </p>
      
      <div class="footerBottom">
        <p>
          copyright &copy;2023 Anonymous Bot. designed by 
          <span>Grayson Hoff, Riley Weld, Brent Stickney, and Liefe Sutliff</span>
        </p>
      </div>

    </footer>

  </body>
</html>

<script src="https://smtpjs.com/v3/smtp.js"></script>
<script>
  var btn = document.getElementById('btn');
  var button = document.getElementById('button');
  var clr = document.getElementById('clr');
  button.addEventListener('click', function(e) {
    e.preventDefault()
    var name = document.getElementById('nameInput').value;
    var email = document.getElementById('emailInput').value;
    var subject = document.getElementById('subjectInput').value;
    var message = document.getElementById('messageText').value;
    var body = 'name: ' + name + '<br/> response email: ' + email + '<br/> subject: ' + subject + '<br/> message: ' + message;
    Email.send({
        SecureToken : "043f445f-1a7a-4a62-8f0d-aae1bf392e48",
        To : 'anonymousbot2023@gmail.com',
        From : 'anonymousbot2023@gmail.com',
        Subject : subject,
        Body : body
    }).then(
        message => alert('EMAIL HAS BEEN SENT!')
    );
  })

  btn.addEventListener('click', function(e) {
    e.preventDefault()
    var name = document.getElementById('name').value;
    var email = document.getElementById('email').value;
    var subject = document.getElementById('subject').value;
    var message = document.getElementById('message').value;
    var body = 'name: ' + name + '<br/> response email: ' + email + '<br/> subject: ' + subject + '<br/> message: ' + message;
    Email.send({
        SecureToken : "043f445f-1a7a-4a62-8f0d-aae1bf392e48",
        To : 'anonymousbot2023@gmail.com',
        From : 'anonymousbot2023@gmail.com',
        Subject : subject,
        Body : body
    }).then(
        message => alert('EMAIL HAS BEEN SENT!')
    );
  })

  clr.addEventListener('click', function(e) {
    e.preventDefault()
    document.getElementById('name').value = "";
    document.getElementById('email').value = "";
    document.getElementById('subject').value = "";
    document.getElementById('message').value = "";
  })

  clear.addEventListener('click', function(e) {
    e.preventDefault()
    document.getElementById('nameInput').value = "";
    document.getElementById('emailInput').value = "";
    document.getElementById('subjectInput').value = "";
    document.getElementById('messageText').value = "";
  })


</script>